.background {
  viewport-fill: black;
}

#myTime {
  font-size: 80;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: start;
  fill: white;
}
#myDate {
  font-size: 60;
  font-family: System-Light;
  text-length: 32;
  text-anchor: start;
  fill: cyan;
}
#mySteps {
  font-size: 60;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: start;
  fill: white;
}
#myDebug {
  font-size: 60;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: start;
  fill: green;
}
#myWeekNum {
  font-size: 40;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: start;
  fill: white;
}
#myMMDD {
  font-size: 60;
  font-family: System-Light;
  text-length: 32;
  text-anchor: start;
  fill: white;
}
